html
        head
                title= "Tic tac toe"
                link(href='/styles.css', rel='stylesheet')
                script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
        body
                include game.jade
